body {
  background-color:black;
  outline: none;
  text-align: center;
}
h1 {
  color: red;
  text-align: left;
}
h3, p {
  color: grey;
}
.container-fluid {
  background-color:black;
  width: 80%;
  text-align: center;
  margin-top:20px;
}